
<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="content" style="display: flex; flex-wrap: wrap;">
    <div class="content_heading">
      <h1>Editing warehouse</h1>
    </div>

    <div class="custom_actions">
      <a href=<%= warehouses_path %> ><img src=<%= asset_path("back.png") %> alt="Logo" width="40"></a>
    </div>
    <div class="custom_actions">
      <%= link_to @warehouse do %>
        <img src=<%= asset_path("eye.png") %> alt="Logo" width="40" />
      <% end %>
    </div>
  </div>

  <%= render "form", warehouse: @warehouse %>
  
</div>
